<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reservar Espacio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" th:href="@{/css/sidebar.css}">
</head>
<body>
    <div th:replace="~{fragments/fragmentEstudiante :: header('reservas')}"></div>
    <main class="container py-5">
        <div class="container mt-4">
            <h2>Reservar Espacio Académico</h2>
            <div th:if="${mensajeError}" class="alert alert-danger alert-dismissible fade show" role="alert">
                <i class="bi bi-exclamation-triangle-fill me-2"></i>
                <span th:text="${mensajeError}"></span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <form th:action="@{/estudiante/reservar-espacio/guardar}" th:object="${reserva}" method="post">
                <input type="hidden" th:field="*{espacioAcademico.id}" />
                <div class="mb-3">
                    <label for="fechaReserva" class="form-label fw-bold">Fecha de Reserva:</label>
                    <input type="date" id="fechaReserva" th:field="*{fechaReserva}" class="form-control" required />
                </div>
                <div class="mb-3">
                    <label for="bloqueHorario" class="form-label fw-bold">Horario disponible(Maximo 2 horas):</label>
                    <select class="form-select" id="bloqueHorario" required onchange="separarHorarios(this.value)">
                        <option value="" disabled selected>-- Seleccione un horario --</option>
                        <option th:each="horario : ${horariosPermitidos}" th:value="${horario}" th:text="${horario}"></option>
                    </select>
                </div>
                <input type="hidden" th:field="*{horaInicio}" id="horaInicio"/>
                <input type="hidden" th:field="*{horaFin}" id="horaFin"/>
                <button type="submit" class="btn btn-success">Confirmar Reserva</button>
                <a th:href="@{/estudiante/reservas}" class="btn btn-secondary">Cancelar</a>
            </form>
        </div>
    </main>
    <script>
        function separarHorarios(valor){
            if(valor){
                const partes = valor.split(" - ");
                document.getElementById("horaInicio").value = partes[0];
                document.getElementById("horaFin").value = partes[1];
            }
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
